<!DOCTYPE html>
{% extends "default.html" %}
{% load static %}


{% block content %}
    <section class="claim">
    <h3 class="heading">Проверьте комплектацию и технические характеристики техники Силант</h3>


    <form method="GET">
        {{ filter.form }}
        <div>
            <input class="btn btn-primary" type="submit" value="Фильтр">
        </div>
    </form>
    <h3 class="heading mt-4">Добро пожаловать: {{ request.user.first_name }}</h3>
    <h4 class="search__description mt-4">
        Информация о коплектации и технических характеристиках вашей техники
    </h4>
    <h4 class="search__description mt-4">
        Внесите изменения в данные о проведённом техобслуживании
    </h4>

    <nav class="btn-wrapper">
        <ul class="nav-btns">
            <li class="nav-item">
                <a href="/machines/">Общая информация</a>
            </li>
            <li class="nav-item">
                <a href="/maintenance/">Техническое обслуживание</a>
            </li>
            <li class="nav-item">
                <a href="/claim/">Рекламации</a>
            </li>
            {% if is_manager == 'Менеджер' %}
                <li class="nav-item">
                    <a href="/servicecompany/">Списки</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Дата отказа</th>
                <th>Наработка, м/час</th>
                <th>Узел отказа</th>
                <th>Описание отказа</th>
                <th>Способ восстановления</th>
                <th>Используемые запасные части</th>
                <th>Дата восстановления</th>
                <th>Зав. № машины</th>
                <th>Сервисная компания</th>
                <th>Детали</th>
                {% for c in filter.qs %}
                    {% if c.client == request.user.first_name or c.service_company.name == request.user.first_name or is_manager == "Менеджер" %}
                    <tr>
                        <td>{{ c.failure_date }}</td>
                        <td>{{ c.operating_time }}</td>
                        <td>{{ c.breakdown_unit }}</td>
                        <td>{{ c.failure_description }}</td>
                        <td>{{ c.recover_method }}</td>
                        <td>{{ c.used_parts }}</td>
                        <td>{{ c.recover_date }}</td>
                        <td>{{ c.machine }}</td>
                        <td>{{ c.service_company }}</td>
                        <td><a href="{% url 'claim_detail' c.pk %}">Детали</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
